h1{
    text-align: center;
}

ul{
    list-style-type: none;
    border: 2px solid lightgray;
    padding: 0;
}

ul li{
    border: 2px solid lightgray;
    padding: 10px;
}

input{
    width: 100%;
    border: none;
}

span{
    float: right;
    margin-right: 10px;
    color: red;
}

ul div{
    margin-left: 10px;
}

.hiddenX{
    display: none;
}

.todo:hover .hiddenX{
    display: block;
}